@import url('https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic');

$dark-color: rgba(0, 0, 0, 1);
$light-color: rgba(255, 255, 255, 1);
$bg-color: rgba(231, 231, 231, 1);
$danger-color: rgba(255, 77, 77, 1);

$width: 96%;
$gutter: 4%;
$spacing: 10px;
$font-size-base: 1em;
$grid-gutter: $spacing * 2;

$font-family: 'Lato', Helvetica, sans-serif;

$breakpoints: (
  'medium': 600px,
  'large': 1200px,
) !default;

@mixin respond-to($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

$sm-cols: 1;
$md-cols: 3;
$lg-cols: 6;
$xl-cols: 1;
$border-radius: 0.5em;

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-base;
  background-color: $bg-color;
}

* {
  box-sizing: border-box;
}

.error-message {
  font-weight: 700;
  font-size: 1.2rem;
  color: $danger-color;
  padding: $spacing * 2;
  margin: $spacing * 2;
  background: rgba($danger-color, 0.2);
  border: 1px solid $danger-color;
  border-radius: $border-radius;
}

.photo-layout {
  display: grid;
  padding: $grid-gutter;
  grid-gap: $grid-gutter;
  grid-template-columns: repeat(
    $sm-cols,
    calc(100% / #{$sm-cols} - #{($sm-cols - 1) * $grid-gutter / $sm-cols})
  );

  .photo-box {
    overflow: hidden;
    height: 50vmax;
    padding: 0;
    box-shadow: 2px 2px 1px 1px rgba($dark-color, 0.2);
    border-radius: $border-radius;
    position: relative;
    min-height: 180px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .photo-content {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba($dark-color, 0.4);
      color: $light-color;
      padding: $spacing;

      &-description {
        font-weight: 700;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
      }

      &-separator {
        padding-top: 1px;
        background-color: $light-color;
        margin: $spacing 0 $spacing / 2;
        width: 20%;
      }

      &-author {
        font-style: italic;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
      }

      &-btn {
        cursor: pointer;
        position: absolute;
        bottom: 7.5%;
        background: none;
        outline: none;
        border: 1px solid rgba($light-color, 0.3);
        color: $light-color;
        border-radius: $border-radius * 4;
        margin-top: $spacing * 2;
        padding: $spacing * 1.2 $spacing * 1.4;
        text-shadow: 1px 1px 1px rgba($dark-color, 0.3);

        &.is-selected {
          color: $light-color;
          background-color: rgba($light-color, 0.25);
        }
      }
    }

    &:hover .photo-content,
    &:focus .photo-content {
      opacity: 1;
    }
  }

  @include respond-to('medium') {
    grid-template-columns: repeat(
      $md-cols,
      calc(100% / #{$md-cols} - #{($md-cols - 1) * $grid-gutter / $md-cols})
    );

    .photo-box {
      height: 35vmin;
    }
  }

  @include respond-to('large') {
    grid-template-columns: repeat(
      $lg-cols,
      calc(100% / #{$lg-cols} - #{($lg-cols - 1) * $grid-gutter / $lg-cols})
    );

    .photo-box {
      height: 20vmin;
    }
  }
}
